# generated cert, key
cert.pem
key.pem

# boltdb database file
co-chair.db

# 3rd party code
vendor/

# editors, IDE
.vscode

# hpt deployment scripts
.hpt

# compiled binary from "go build" with no args
co-chair
