addons:
    hosts:
        - server1
        - server2
        - server3

notifications:
    email: false

language: go
go:
    - "1.10"

install:
    - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
    - cd ..
    - cd /tmp 
    - mkdir protobuf
    - wget -P /tmp/protobuf https://github.com/google/protobuf/releases/download/v3.5.0/protoc-3.5.0-linux-x86_64.zip 
    - cd protobuf
    - unzip protoc-3.5.0-linux-x86_64.zip
    - ls /tmp/protobuf/bin
    - sudo mv /tmp/protobuf/bin/protoc /bin
    - cd $GOPATH/src/github.com/anxiousmodernman/co-chair && dep ensure
    - cd $GOPATH/src/github.com/anxiousmodernman/co-chair && ./install.sh
    - cd $GOPATH/src/github.com/anxiousmodernman/co-chair && ./build.sh

script:
    - go test -v ./...
