
body {
  font-family: arial;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    background-color: rgb(55, 55, 60);
    min-height: 100vh;
    color: lightgray;
  }
  header {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
/*     background-color: #369; */
    border-bottom: double lightgray;
    color: lightgray;
    order: 1;
  }
  nav {
    display: flex;
    border-bottom: double lightgray;
    flex-direction: column;
    padding: 20px;
    order: 3;
  }
  main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    border-bottom: double lightgray;
    order: 2;
  }
  aside {
    padding: 20px;
    order: 4;
  }
  footer {
    grid-column: span 3;
    padding: 20px;
    text-align: center;
    font-size: 1.4em;
    color: darkgrey;
    order: 5;
  }
}


@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 100% viewport height */
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    height: 100vh;
    background-color: rgb(55, 55, 60);
    color: lightgray;
  }
  header {
    grid-column: span 3;
    padding: 30px;
    text-align: center;
    font-size: 1.4em;
    border-bottom: double lightgray;
  }
  nav {
    padding: 20px;
    border-right: double lightgray;
    border-bottom: double lightgray;
  }
  main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;  /* gives us the scroll bar */
    border-bottom: double lightgray;
  }
  aside {
    padding: 20px;
  }
  footer {
    grid-column: span 3;
    padding: 20px;
    text-align: center;
    font-size: 1.4em;
    color: darkgray;
  }
}


.selected {
  background-color: rgb(202, 202, 202);
}
 
h1 {
  margin-bottom: 1em;
  font-size: 1.3em;
  font-weight: bold;
}
